@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2 class="pb-2 pt-3">List of your projects</h2>

    <table id="myProjectsTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Project ID</th>
                <th>Project Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{for(int i = 0; i < Model.AllProjects.Count; i++)
            {
                <tr>
                        <td>@Model.AllProjects[i].GetValue("projectId")</td>
                        <td>@Model.AllProjects[i].GetValue("projectName")</td>
                        <td>@Model.AllProjects[i].GetValue("startDate")</td>
                        <td>@Model.AllProjects[i].GetValue("endDate")</td>
                        <td>@Model.AllProjects[i].GetValue("created")</td>
                        <td><a class="ps-3" href="/projectLabels?projectId=@Model.AllProjects[i].GetValue("projectId")"><i class="bi bi-bookmarks-fill h5"></i></a> <a class="ps-2" href="/editProject?projectId=@Model.AllProjects[i].GetValue("projectId")"><i class="bi h5 bi-pencil-square"></i></a></td>
                </tr>
            }
            }
        </tbody>
    </table>


</div>


<script>

    new DataTable('#myProjectsTable', {
    });
</script>